<app-topbar></app-topbar>
<app-navbar></app-navbar>

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 300px"
  >
    <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a routerLink="/">Home</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Shopping Cart</p>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Cart Start -->
<div class="container-fluid pt-5" *ngIf="cartItems.length > 0">
  <div class="row px-xl-5">
    <div class="col-lg-8 table-responsive mb-5">
      <table class="table table-bordered text-center mb-0">
        <thead class="bg-secondary text-dark">
          <tr>
            <th>Products</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody class="align-middle">
          <tr *ngFor="let cartItem of cartItems">
            <td class="align-middle">
              <img
                src="{{ cartItem.product.imageUrl }}"
                alt=""
                style="width: 50px"
              />
              {{ cartItem.product.productName }}
            </td>
            <td class="align-middle">
              {{ cartItem.product.unitPrice | currency }}
            </td>
            <td class="align-middle">
              <div class="input-group quantity mx-auto" style="width: 100px">
                <div class="input-group-btn">
                  <button
                    *ngIf="cartItem.quantity > 1"
                    class="btn btn-sm btn-primary btn-minus"
                    (click)="decreaseQuantity(cartItem.product)"
                  >
                    <i class="fa fa-minus"></i>
                  </button>
                  <button
                    *ngIf="cartItem.quantity < 2"
                    class="btn btn-sm btn-primary"
                    [swal]="{
                      title: 'Remove',
                      text: 'Remove product from cart?',
                      showCancelButton: true,
                      icon: 'question'
                    }"
                    (confirm)="removeFromCart(cartItem.product)"
                  >
                    <i class="fa fa-minus"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control form-control-sm bg-secondary text-center"
                  value="{{ cartItem.quantity }}"
                  disabled
                />
                <div class="input-group-btn">
                  <button
                    class="btn btn-sm btn-primary btn-plus"
                    (click)="increaseQuantity(cartItem.product)"
                  >
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </td>
            <td class="align-middle">
              {{ cartItem.product.unitPrice * cartItem.quantity | currency }}
            </td>
            <td class="align-middle">
              <button
                class="btn btn-sm btn-primary"
                [swal]="{
                  title: 'Remove',
                  text: 'Remove product from cart?',
                  showCancelButton: true,
                  icon: 'question'
                }"
                (confirm)="removeFromCart(cartItem.product)"
              >
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <form class="mb-5" action="">
        <div class="input-group">
          <input
            type="text"
            class="form-control p-4"
            placeholder="Coupon Code"
          />
          <div class="input-group-append">
            <button class="btn btn-primary">Apply Coupon</button>
          </div>
        </div>
      </form>
      <div class="card border-secondary mb-5">
        <div class="card-header bg-secondary border-0">
          <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3 pt-1">
            <h6 class="font-weight-medium">Subtotal</h6>
            <h6 class="font-weight-medium">{{ subtotal | currency }}</h6>
          </div>
          <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Shipping</h6>
            <h6 class="font-weight-medium">$9.99</h6>
          </div>
        </div>
        <div class="card-footer border-secondary bg-transparent">
          <div class="d-flex justify-content-between mt-2">
            <h5 class="font-weight-bold">Total</h5>
            <h5 class="font-weight-bold">{{ subtotal + 9.99 | currency }}</h5>
          </div>
          <button class="btn btn-block btn-primary my-3 py-3">
            Proceed To Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="cartItems.length < 1">
  <div class="text-center mb-4">
    <h2 class="section-title px-5">
      <span class="px-2">Cart Empty</span>
    </h2>
  </div>
</div>
<!-- Cart End -->

<app-footer></app-footer>

<!-- Back to Top -->
<button ngxScrollTop class="btn btn-primary back-to-top">
  <i class="fa fa-angle-double-up"></i>
</button>
