<app-topbar></app-topbar>
<app-navbar></app-navbar>

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 300px"
  >
    <h1 class="font-weight-semi-bold text-uppercase mb-3">Register</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a routerLink="/">Home</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Register</p>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Register Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <div class="col-lg-4 mb-5 mx-auto">
      <div class="contact-form">
        <div id="success"></div>
        <form name="register" id="registerForm" [formGroup]="registerForm">
          <div class="control-group">
            <input
              formControlName="firstName"
              type="text"
              class="form-control"
              id="firstName"
              placeholder="Your First Name"
              required="required"
              data-validation-required-message="Please enter your first name"
            />
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group">
            <input
              formControlName="lastName"
              type="text"
              class="form-control"
              id="lastName"
              placeholder="Your Last Name"
              required="required"
              data-validation-required-message="Please enter your last name"
            />
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group">
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="email"
              placeholder="Your Email"
              required="required"
              data-validation-required-message="Please enter your email"
            />
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group">
            <input
              formControlName="password"
              type="password"
              class="form-control"
              id="password"
              placeholder="Your Password"
              required="required"
              data-validation-required-message="Please enter your password"
            />
            <p class="help-block text-danger"></p>
          </div>
          <div>
            <button
              class="btn btn-primary py-2 px-4"
              id="registerButton"
              (click)="register()"
            >
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Register End -->

<app-footer></app-footer>

<!-- Back to Top -->
<button ngxScrollTop class="btn btn-primary back-to-top">
  <i class="fa fa-angle-double-up"></i>
</button>
