<app-topbar></app-topbar>
<app-navbar></app-navbar>

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 300px"
  >
    <h1 class="font-weight-semi-bold text-uppercase mb-3">Add Product</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a routerLink="/">Home</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Add Product</p>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Add Product Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <div class="col-lg-4 mb-5 mx-auto">
      <div class="contact-form">
        <div id="success"></div>
        <form name="addProduct" id="addProductForm" [formGroup]="addProductForm">
          <div class="control-group">
            <input
              formControlName="productName"
              type="text"
              class="form-control"
              id="productName"
              placeholder="Product Name"
              required="required"
              data-validation-required-message="Please enter product name"
            />
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group">
            <select formControlName="categoryId" id="categoryId" class="form-control">
              <option *ngFor="let category of categories" [value]="category.categoryId">{{ category.categoryName }}</option>
            </select>
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group">
            <input
              formControlName="unitPrice"
              type="number"
              class="form-control"
              id="unitPrice"
              placeholder="Unit Price"
              required="required"
              min="1"
              data-validation-required-message="Please enter unit price"
            />
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group">
            <input
              formControlName="unitsInStock"
              type="number"
              class="form-control"
              id="unitsInStock"
              placeholder="Units In Stock"
              required="required"
              min="1"
              data-validation-required-message="Please enter units in stock"
            />
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group">
            <input
              formControlName="imageUrl"
              type="url"
              class="form-control"
              id="imageUrl"
              placeholder="Image Url"
            />
            <p class="help-block text-danger"></p>
          </div>
          <div>
            <button
              class="btn btn-primary py-2 px-4"
              id="addProductButton"
              (click)="addProduct()"
            >
              Add Product
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Add Product End -->

<app-footer></app-footer>

<!-- Back to Top -->
<button ngxScrollTop class="btn btn-primary back-to-top">
  <i class="fa fa-angle-double-up"></i>
</button>
